!.gitignore
*.o
cpplox
cpplox_test*
.vscode
/src/config.h
/src/lexer.h
/src/lexer.cpp
/src/python_parser.cpp
/src/python_parser.hpp
Makefile
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/bin
/lib
/build